@import "variables.scss";

#tear {
    position: absolute;
    top: 70px;
    left: 460px;
    height: $leading * 9;
    z-index: 1;

    @media only screen and (max-width: 736px) {
    	top: 145px;
    	left: 234px;
	    height: $leading * 6;

    }
}

#episodes {
	z-index: 50;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}